.config/fish/fish_variables
.config/fish/fishd*
yazi/.config/yazi/package.toml

# Ignore all files in plugins directory…
yazi/.config/yazi/plugins/*

# …but do not ignore smart-switch.yazi and its contents:
!yazi/.config/yazi/plugins/smart-switch.yazi/
!yazi/.config/yazi/plugins/smart-switch.yazi/**
